body, html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
}

#navbar ul {
	display: inline;
	list-style-type: none;
	padding: 12px;
	width: 60px;
}

#navbar li {
	/* For some reason I need this on both `ul` and `li`. */
	display: inline;
}

#navbar li a {
	background-color: #ccc;
	color: #2a7efc;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-decoration: none;

	padding: 8px;
}

#navbar li a:hover {
	background-color: #bbb;
	color: #216bff;
}

#header-banner {
	background-color: #f4cb42;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	text-decoration: underline;

	padding: 6px;
	top: 0;
	width: 100%;
	z-index: 5;
}

#header-banner button {
	font-size: 18px;
	border: none;
}

#footer-banner button:hover {
	background-color: #eee;
	color: #222;
}

h1 {
	color: #ccc;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 38px;
	text-align: center;
	text-decoration: underline;
}

h2 {
	color: #ccc;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 30px;
	text-align: left;
	text-decoration: underline;
}

p {
	color: #ccc;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-left: 4px;
}

code {
	color: #007700;
	font-family: monospace;
	font-size: 16px;
}

pre {
	color: #ccc;
}